/* CALLOUTS */
.stories {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    .story-module {
        display: flex;
        flex-wrap: wrap;
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        display: none;
        opacity: 1;
        visibility: visible;
        transition: .3s ease-in-out;

        &:nth-child(even) {
            margin-right: 0%;
        }
        &.hide {
            display: none;
            animation: fade-out 1s ease-in-out;
            -webkit-animation: fade-out 1s ease-in-out;
        }
        &.show {
            display: flex !important;
            animation: fade-in 1s ease-in-out !important;
            -webkit-animation: fade-in 1s ease-in-out !important;
        }
    }
    .story {
        background-color: $white;
        transition: .2s ease-in-out;
        box-shadow: 0px 0px 50px rgba(50, 50, 50, .2);

        &.full {
            .story-content {
                padding: 40px 12% 40px;
            }
        }
        &.half {
            width: 48%;
            margin-bottom: 4%;

            &:first-of-type {
                margin-right: 4%;
            }
            .story-content {
                padding: 10px 17% 40px;

                .heading {
                    font-size: 24px;
                }
            }
        }
        &.wide {
            .story-content {
                .heading {
                    + .action-link {
                        margin-top: -30px;
                    }
                }
            }
        }
        &.video {
            position: relative;

            .story-img {
                height: 100%;
                position: relative;

                img {
                    height: 100%;
                }
                &:after {
                    content: '';
                    background-image: url('../img/play-btn.png');
                    width: 35px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                }
            }
            .story-content {
                position: absolute;
                bottom: 15px;

                .heading {
                    color: $white;

                    + .action-link {
                        margin-top: -30px;
                    }
                }
            }
        }
        .story-img {
            text-decoration: none;
            position: relative;
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                transition: .1s linear;
            }
            .corner-tag {
                width: 120px;
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
        .story-content {
            padding: 10px 12% 40px;

            .county {
                color: $gold;
                font-size: 16px;

                .date {
                    color: $dark-gray;
                    font-style: italic;
                }
                + {
                    .heading {
                        margin-top: -5px;
                    }
                }
            }
            .heading {
                font-size: 30px;
                font-weight: bold;
                line-height: 32px;
                color: #323232;
                margin-top: 20px;

                .subheading {
                    font-size: 18px;
                }
            }
            .btn {
                font-size: 16px;
                font-weight: bold;
                width: auto;
                padding: 18px 60px;
            }
            .action-link {
                color: $turquoise;
                position: relative;
                left: 0px;
                font-size: 16px;
                margin-top: 10px;
                display: inline-block;

                &:after {
                    content: url('../img/turquoise-arrow.png');
                    margin-right: 20px;
                    position: relative;
                    top: 0px;
                    left: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px transparent;
                }
                &:hover {
                    left: 3px;

                    &:after {
                        -webkit-animation-name: hang-sink-right, hang-right;
                        animation-name: hang-sink-right, hang-right;
                        -webkit-animation-duration: .3s, 1.5s;
                        animation-duration: .3s, 1.5s;
                        -webkit-animation-delay: 0s, .3s;
                        animation-delay: 0s, .3s;
                        -webkit-animation-timing-function: ease-out, ease-in-out;
                        animation-timing-function: ease-out, ease-in-out;
                        -webkit-animation-iteration-count: 1, infinite;
                        animation-iteration-count: 1, infinite;
                        -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                        -webkit-animation-direction: normal, alternate;
                        animation-direction: normal, alternate;
                    }
                }
            }
        }
    }
}
.other-stories {
    max-width: 1425px;
    width: 90%;
    margin: 120px auto 50px;
    border-top: 1px solid #c9c9c8;

    .heading {
        h2 {
            color: $dark-gray;
            background-color: #f1f0ef;
            padding-right: 20px;
            position: relative;
            top: -15px;
            display: inline-block;
            margin-bottom: 60px;
        }
    }
    .story-modules {
        display: flex;
        flex-wrap: wrap;

        .story {
            background-color: $white;
            transition: .2s ease-in-out;
            box-shadow: 0px 0px 50px rgba(50, 50, 50, .2);
            width: 30%;
            margin-right: 5%;

            &:last-of-type {
                margin-right: 0%;
            }
            .story-img {
                text-decoration: none;
                position: relative;
                display: block;
                overflow: hidden;

                img {
                    width: 100%;
                    transition: .1s linear;
                }
                .story-tag {
                    position: absolute;
                    top: 30px;
                    left: 50px;
                    color: $white;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
            .story-content {
                padding: 10px 50px 40px;

                .heading {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 32px;
                    color: #323232;
                    margin-top: 20px;
                }
                .action-link {
                    color: $turquoise;
                    position: relative;
                    left: 0px;
                    font-size: 16px;
                    margin-top: 10px;
                    display: inline-block;

                    &:after {
                        content: url('../img/turquoise-arrow.png');
                        margin-right: 20px;
                        position: relative;
                        top: 0px;
                        left: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px transparent;
                    }
                    &:hover {
                        left: 3px;

                        &:after {
                            -webkit-animation-name: hang-sink-right, hang-right;
                            animation-name: hang-sink-right, hang-right;
                            -webkit-animation-duration: .3s, 1.5s;
                            animation-duration: .3s, 1.5s;
                            -webkit-animation-delay: 0s, .3s;
                            animation-delay: 0s, .3s;
                            -webkit-animation-timing-function: ease-out, ease-in-out;
                            animation-timing-function: ease-out, ease-in-out;
                            -webkit-animation-iteration-count: 1, infinite;
                            animation-iteration-count: 1, infinite;
                            -webkit-animation-fill-mode: forwards;
                            animation-fill-mode: forwards;
                            -webkit-animation-direction: normal, alternate;
                            animation-direction: normal, alternate;
                        }
                    }
                }
            }
        }
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .other-stories {
        .story-modules {
            .story {
                margin-right: 3%;
                width: 31%;

                .story-img {
                    .story-tag {
                        top: 10px;
                        left: 30px;
                    }
                }
                .story-content {
                    padding: 0px 30px 25px;
                }
            }
        }
    }
}
@media screen and (max-width: 1100px) {
    .stories {
        display: block;

        .story-module {
            width: 100%;
            margin-bottom: 4%;

            .story {
                float: left;
                width: 100%;

                &.half {
                    width: 48%;
                }
                &.full {
                    .story-content {
                        padding: 20px 12% 40px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .stories {
        margin-top: -70px;

        .story {
            border-radius: 10px;

            .story-img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &.video {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .story-img {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
    .other-stories {
        margin: 60px auto 50px;

        .heading {
            h2 {
                margin-bottom: 20px;
            }
        }
        .story-modules {
            .story {
                width: 100%;
                margin-right: 0%;
                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .stories {
        .story-module {
            margin-bottom: 0%;

            .story {
                margin-bottom: 7%;

                &.half {
                    width: 100%;
                    margin-right: 0%;
                }
                &.video {
                    .story-img {
                        height: auto;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;

                        img {
                            height: auto;
                        }
                    }
                    .story-content {
                        position: relative;
                        bottom: auto;

                        .heading {
                            color: $dark-gray;
                        }
                    }
                }
                .story-img {
                    .corner-tag {
                        width: 90px;
                    }
                }
                .story-content {
                    padding: 10px 30px 30px !important;

                    .county {
                        margin-bottom: 10px;

                        + .heading {
                            margin-bottom: 15px;
                        }
                    }
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}
