/* BUTTONS */

.btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 1em;
    width: 100%;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    background: $turquoise;
    text-decoration: none;
    color: $white;
    font-weight: 600;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover, &:focus, &:active {
        color: white;

        &:before {
            -webkit-transform: scale(2);
            transform: scale(2);
        }
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: lighten($turquoise, 3%);
        border-radius: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    &.gold {
        background: $gold;
        width: auto;
        float: right;
        margin-top: 5px;
        padding: 10px 30px 15px;
        font-weight: bold;

        &:before {
            background: lighten($gold, 3%);
        }
        img {
            position: relative;
            top: 5px;
            margin-right: 15px;
        }
    }
}
.black-btn {
    padding: 15px 65px;
    color: $dark-gray;
    border: 2px solid $dark-gray;
    border-radius: 30px;
    background-color: transparent;
    text-align: center;
    font-family: $myriad;
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto 5px;
    outline: none;
    text-decoration: none;
    display: inline-block;
    transition: .3s ease-in-out;

    &:hover {
        background-color: $dark-gray;
        color: $white;
    }
}
