/* GLOBAL STYLES */

* {
    @include box-sizing(border-box);
}

html, body {
    height: 100%;
}
body {
    background-color: $light-gray;
    background-image: url('../img/curves.png');
    background-size: cover;
    background-repeat: repeat-y;

    &.home {
        .main-content {
            max-width: none;
            margin-top: 126px;
        }
    }
}
.container {
    width: 90%;
    margin: 0px auto;

    &.main-content {
        margin-top: 70px;
    }
}
.main-content {
    max-width: 1200px;

    .content {
        width: 65%;
        margin-right: 10%;
        float: left;

        p {
            line-height: 30px;
            margin: 35px 0px;
        }
        img {
            width: 100%;
        }
    }
    .sidebar {
        width: 25%;
        float: left;
    }
    &.contact {
        margin-top: 270px;

        h1 {
            color: $dark-gray;
        }
    }
}
a {
    color: $body-link-color;
    transition: .1s linear;

    &:hover {
        color: $dark-gray;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {
    .main-content {
        &.contact {
            margin-top: 210px;
        }
    }
}
@media screen and (max-width: 800px) {
    .main-content {
        &.contact {
            margin-top: 180px;
        }
    }
}
@media screen and (max-width: 700px) {
    .container {
        &.main-content {
            margin-top: 40px;
        }
        &.contact {
            margin-top: 180px;
        }
    }
}
