/* TYPOGRAPHY */

@import url("https://use.typekit.net/cyd3psy.css");

body {
    font-family: $myriad;
    font-size: $body-font-size;
}
h1 {
    font-size: 48px;
    color: $white;
    margin: 0px;
}
h2 {
    color: $gold;
    margin-top: 0px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 35px;
}
h3 {
    font-size: 20px;
    line-height: 30px;
    color: $dark-gray;
    margin-top: 0px;
}
p, ul li, ol li {
    color: $dark-gray;
    line-height: 26px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 38px !important;
    }
    h2 {
        font-size: 30px;
        line-height: 34px;
    }
}
