/* HERO */
.hero {
    width: 100%;
    max-width: 1717px;
    height: 650px;
    background-image: url('../img/homepage-hero.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin: 270px auto 0px;
    padding: 0px 200px;
    position: relative;

    .intro {
        width: 80%;
        max-width: 550px;
        position: absolute;
        bottom: 200px;

        h1 {
            color: $white;
            font-size: 48px;
            font-weight: bold;
            max-width: 700px;
            width: 100%;
            margin-top: 70px;
            line-height: 60px;

            sup {
                font-size: 12px;
                position: relative;
                top: -25px;
            }
        }
        p {
            color: $white;
        }
    }
    a {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        &:hover {
            -webkit-animation-name: hang-sink-down, hang-down;
            animation-name: hang-sink-down, hang-down;
            -webkit-animation-duration: .3s, 1.5s;
            animation-duration: .3s, 1.5s;
            -webkit-animation-delay: 0s, .3s;
            animation-delay: 0s, .3s;
            -webkit-animation-timing-function: ease-out, ease-in-out;
            animation-timing-function: ease-out, ease-in-out;
            -webkit-animation-iteration-count: 1, infinite;
            animation-iteration-count: 1, infinite;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-direction: normal, alternate;
            animation-direction: normal, alternate;
        }
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .hero {
        margin: 220px auto 0px;
        padding: 0px 100px;
    }
}
@media screen and (max-width: 800px) {
    .hero {
        margin: 180px auto 0px;
        border-radius: 10px;
        height: 550px;
        padding: 0px 50px;
        background-size: cover;

        a {
            bottom: 150px;
        }
    }
}
@media screen and (max-width: 500px) {
    .hero {
        .intro {
            bottom: 180px;

            h1 {
                font-size: 36px;
                line-height: 38px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .hero {
        padding: 0px 20px;

        .intro {
            width: 88%;
        }
    }
}
