/* HERO */
.hero {
    width: 100%;
    max-width: 1425px;
    height: 690px;
    background-image: url('../img/homepage-hero.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin: 350px auto 0px;
    padding: 0px 4%;
    position: relative;

    .intro {
        width: 80%;
        max-width: 550px;
        position: absolute;
        bottom: 200px;

        h1 {
            color: $white;
            font-size: 48px;
            font-weight: bold;
            max-width: 700px;
            width: 100%;
            margin-top: 70px;
            line-height: 60px;
            position: relative;
            bottom: auto;

            sup {
                font-size: 12px;
                position: relative;
                top: -25px;
            }
        }
        p {
            color: $white;
            position: relative;
        }
    }
    .content-title {
        position: absolute;
        bottom: 80px;

        .date {
            color: $white;
            font-size: 16px;
            font-style: italic;
            margin-bottom: 30px;
        }
        h1 {
            width: 90%;
            max-width: 800px;
        }
    }
    .content-type {
        color: $white;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        top: 70px;
    }
    a {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        &:hover {
            -webkit-animation-name: hang-sink-down, hang-down;
            animation-name: hang-sink-down, hang-down;
            -webkit-animation-duration: .3s, 1.5s;
            animation-duration: .3s, 1.5s;
            -webkit-animation-delay: 0s, .3s;
            animation-delay: 0s, .3s;
            -webkit-animation-timing-function: ease-out, ease-in-out;
            animation-timing-function: ease-out, ease-in-out;
            -webkit-animation-iteration-count: 1, infinite;
            animation-iteration-count: 1, infinite;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-direction: normal, alternate;
            animation-direction: normal, alternate;
        }
    }
}
.home {
    .hero {
        max-width: 1717px;
        padding: 0px 200px;
        margin: 270px auto 0px;
        height: 650px;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .home {
        .hero {
            margin: 220px auto 0px;
            padding: 0px 100px;
        }
    }
}
@media screen and (max-width: 800px) {
    .hero {
        margin: 180px auto 0px !important;
        height: 550px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0px 2%;

        .content-type {
            top: 20px;
        }
        .content-title {
            bottom: 40px;

            .date {
                font-size: 18px;
            }
        }
    }
    .home {
        .hero {
            border-radius: 10px;
            padding: 0px 50px;
            background-size: cover;

            a {
                bottom: 150px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .hero {
        .intro {
            bottom: 180px;

            h1 {
                line-height: 38px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .home {
        .hero {
            padding: 0px 20px;

            .intro {
                width: 88%;
            }
        }
    }
}
@media screen and (max-width: 340px) {
    .hero {
        .intro {
            h1 {
                sup {
                    top: -18px;
                }
            }
        }
    }
}
