/* HELPER CLASSES */

// Clearfix
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

// Visually hide; available to screen readers
%visuallyhidden {
	border: 0; clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* MEDIA QUERIES */