/* VARIABLES */

// font families
$myriad:                   'myriad-pro', sans-serif;

// font sizes
$body-font-size:            18px;
$heading-font-size:         36px;

// color scheme
$turquoise:         #00aba3;
$gold:              #ffb937;
$blue:              #00569c;
$dark-gray:         #323232;
$light-gray:        #f1f0ef;
$white:             #ffffff;
$body-link-color:   $blue;
